body {
  margin: 0;
  background-image: url('https://www.shutterstock.com/image-photo/white-card-text-keep-track-260nw-2136943583.jpg'); /* If using public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
